<h1>New Users</h1>
<%= form_for :user do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>